.navigation {
	margin-left: auto;
	padding-right: 30px;
	padding-top: 3px;
	display: flex;
	flex-wrap: nowrap;

	&__arrow {
		display: inline-block;
		padding: 25px 9px;
		cursor: pointer;
		margin-top: -20px;
		margin-bottom: -20px;
		background: transparent;
		border: none;

		&.disabled {
			pointer-events: none;
			opacity: 0.2;
		}

		&::before {
			content: '';
			display: block;
			min-width: 27px;
			min-height: 27px;
			border-top: 3px solid black;
			border-left: 3px solid black;
		}
		&--left::before {
			transform: rotate(-45deg);
		}

		&--right::before {
			transform: rotate(135deg);
		}
	}
}
